body header{
    font-family:Irish Grover;
    background-color:black ;
}
body {

background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSlCPFUVwIFMb37IksIVEQ_q87VEd73I0Hyw&s');
  background-size: cover;     
  background-repeat: no-repeat; 
  background-position: center;

}
main {
  background-color: black;       
  max-width: 1100px;     
  margin: 0 auto;            
  padding: 40px 20px;        
  border-radius: 10px;   
  color: white;     
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}



a {
text-decoration:none ;
padding:10px ;
font-size:30px ;

}


nav {
justify-content: center;
padding:30px;
position: relative;
display: flex;
color: white;
}

h1 {
color: white ;

}

.q {
height:200px  ;

}
.div1 {
color: white;

}


.hh3 {
text-align: center;

}


.video {
display:flex ;
justify-content: center;
}


.div2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 40px;
}

.image {
  width: 300px;
  height: 400px;
  object-fit: cover;
}

.anime-info {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  max-width: 700px;
}


.p {
display:flex ;
flex-direction:row ;
color:white ;
gap:20px;
}

.foooter {
background-color: black;

}

.other-anime {
width:200px ;
height:300px ;
}

table, th, td, tr {
  color: white;
  border: 1px solid white;
  padding: 10px;
  border-collapse: collapse;
}


main,footer {
    color:white;
}




    





    
